<!-- Bootstrap 5 Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{{ asset("img/logo.png") }}" alt="logo-dogy" height="100px" width=100px"/>
    <div class="container">

        <a class="navbar-brand"> <h4 class="fa-bold">Adopte Un Kien </h4></a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('spa') }}">Les SPA</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('eleveurs') }}">Nos éleveurs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('about') }}">A Propos</a>
                </li>

            </ul>



                <ul class="nav navbar-nav navbar-right">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">S'inscrire</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('registrationAdoptant') }}">en tant qu'adoptant</a>
                            <a class="dropdown-item" href="{{ path('inscription_eleveur') }}">en tant qu'éleveur SPA</a>

                        </div>
                    </li>
                    {% if not app.user %}
                    <li class="nav-item">
                        <a
                                class="nav-link"
                                href="{{ path('app_login') }}"
                                tabindex="-1"
                                aria-disabled="true"
                        >Se Connecter</a
                        >
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li class="nav-item">
                        <a
                                class="nav-link"
                                href="{{ path('app_logout') }}"
                                tabindex="-1"
                                aria-disabled="true"
                        >Se Déconnecter</a
                        >
                    </li>
                    {% endif %}
                </ul>

        </div>
    </div>
</nav>
