<!-- Bootstrap 5 Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/0/00/Logo_de_la_SPA_(France).png/813px-Logo_de_la_SPA_(France).png" alt="logo" height="50px" width=50px">
        <a class="navbar-brand" {{ asset('img/logo.png') }}>Adopte Un Kien</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('spa') }}">Les SPA</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('eleveur') }}">Nos éleveurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('about') }}">A Propos</a>
                </li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">S'inscrire</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('registrationAdoptant') }}">en tant qu'adoptant</a>
                        <a class="dropdown-item" href="{{ path('inscription_eleveur') }}">en tant qu'éleveur SPA</a>

                    </div>
                </li>

                <li class="nav-item">
                    <a
                            class="nav-link"
                            href="{{ path('app_login') }}"
                            tabindex="-1"
                            aria-disabled="true"
                    >Se Connecter</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
